<div class="row">
    <h1><u>Educacion</u></h1>
    <div class="col-lg-12">
        <ul>
            <li>
                <h3><b>Instituto Tucuman</b></h3> <h3>(1998)</h3>
                <p>Operador de PC</p>
                </li>
                </ul>

            <ul>
                <li>
                    <h3><b>Humanita Asociacion</b></h3> <h3>(2015)</h3>
                    <p>Mediadora Basica</p>
                </li>
            </ul>
            
            <ul>
                <li>
                    <h3><b>Argentina Programa</b></h3> <h3>(2022)</h3>
                    <p>Full Stack Jr</p>
                    </li>
            </ul>
    </div>
</div>

