<div class="row">
    <h1><u>Experiencia Laboral</u></h1>
<div class="col-lg-12">
    
    <ul>
        <li>
            <h3><b>Instituto Tucuman</b></h3> <h3>(1998)</h3>
            <p>Secretaria</p>
            </li>
            </ul>

        <ul>
            <li>
                <h3><b>Supermercdo Yaguane</b></h3> <h3>(1999)</h3>
                <p>Cajera</p>
            </li>
        </ul>
        
        <ul>
            <li>
                <h3><b>Maraton Deportes</b></h3> <h3>(2005)</h3>
                <p>Atencion al Publico</p>
                </li>
        </ul>
</div>
</div>
