<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" alt=""id="logoap">
        </div>
        <div class="Redes">
           
                <a href=""><img src="../../../assets/Instagram.png" alt=""aria-label="Read more about Seminole's new baby mayor"></a>
                <a href=""><img src="../../../assets/facebook.png" alt=""aria-label="Read more about Seminole's new baby mayor"></a>
                <button type="button" class="btn btn-outline-light">INGRESO</button>
                </div>
    </div>
    </div>
