<div class="row">
    <h1><u>Hards & Soft Skills</u></h1>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="65"
    [radius]="100"
    [imageSrc]="'../assets/html.jpg'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [title]="'Html'"
    [titleColor]="'Pink'"
    [titleFontSize]="'3em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="70"
  [radius]="100"
  [imageSrc]="'../assets/css.jpg'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
  [showUnits]="false"
  [title]="'Css'"
  [titleColor]="'Pink'"
  [titleFontSize]="'3em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="600"
></circle-progress>   
 </div> 

 <div class="text-center col-sm-4 col-md-4 col-lg-4">
 <circle-progress
 [percent]="30"
 [radius]="100"
 [imageSrc]="'../assets/idioma.jpg'"
   [showImage]="true"
   [imageHeight]="70"
   [imageWidth]="70"
 [showUnits]="false"
 [title]="'Css'"
 [titleColor]="'Pink'"
 [titleFontSize]="'3em'"
 [showSubtitle]="false"
 [outerStrokeWidth]="16"
 [innerStrokeWidth]="8"
 [outerStrokeColor]="'#78C000'"
 [innerStrokeColor]="'#C7E596'"
 [animation]="true"
 [animationDuration]="600"
></circle-progress>   
</div>                   
  
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="50"
    [radius]="100"
    [imageSrc]="'../assets/java2.jpg'"
      [showImage]="true"
      [imageHeight]="70"
      [imageWidth]="70"
    [showUnits]="false"
    [title]="'Css'"
    [titleColor]="'Pink'"
    [titleFontSize]="'3em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
   ></circle-progress>   
   </div>  

   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="100"
    [radius]="100"
    [imageSrc]="'../assets/trab.jpg'"
      [showImage]="true"
      [imageHeight]="70"
      [imageWidth]="70"
    [showUnits]="false"
    [title]="'Css'"
    [titleColor]="'Pink'"
    [titleFontSize]="'3em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
   ></circle-progress>   
   </div>  
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="60"
    [radius]="100"
    [imageSrc]="'../assets/github.jpg'"
      [showImage]="true"
      [imageHeight]="70"
      [imageWidth]="70"
    [showUnits]="false"
    [title]="'Css'"
    [titleColor]="'Pink'"
    [titleFontSize]="'3em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
   ></circle-progress>   
   </div>  
</div>
