<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
           <img src="../../../assets/fotoperfil.jpg" class="img-fluid" id="fotodeperfil" alt="">
       </div>
       <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Veronica Romina Giammattei</p> 
           <p>Full Stack Developer Jr</p>
       </div>
         <span>
               <h1>Acerca de mi</h1> 
               <p>Tecnica Superior en Administracion de Empresas con Orientacion en Comercio Exterior, con muchas ganas de aprender y y con el objetivo de siempre el trbaj en equipo</p>
               <p>Mediadora</p>
           </span>    
        
       </div>
