.row{
    padding: 20px;
   
}
div{
    
    background:rgb(235, 170, 170);
     text-align: center;
   }

.nombre{
    text-align:center,    
}
    .container{
     width:auto;
        text-align: justify;
        
    }
   
/*etiqueta nombre*/
#nombre{
    font-weight:bold;
    margin: top 30%;
    
}
/*Estlo foto de perfil*/